# Massachusetts School Data Investigation
### Alex Craig & Aaron Xie

## 0. Load Packages & Imports

In [212]:
import pandas as pd
import re

## 0.1 Initial Data Loading

In [213]:
nerds_df = pd.read_excel("../data/MA_1819_final_January_28th_22.xlsx")

nerds_df.head()

,state,year,distid_stateassigned,schoolid_stateassigned,distname,schoolname,ncesdistid_admin,ncesdistid_geo,census_id,ncesid,...,pp_PD_cent_fed_raw_MA,pp_instrumaterial_cent_fed_raw_MA,pp_guidepsych_cent_fed_raw_MA,countenroll,noaudit,nositecen,adfinvars,distflex,flag_nerds,flag_f33
0,MA,2018-2019,445,105,Abby Kelley Foster Charter Public School,Abby Kelley Foster Charter Public School,2500051,2500051,NaN,250005101247,...,0,0,0,0,0,0,1,0,0,0
1,MA,2018-2019,1,1,Abington,Abington Early Education Program,2501650,2501650,2.230120e+13,250165002727,...,0,0,0,0,0,0,1,0,0,0
2,MA,2018-2019,1,505,Abington,Abington High,2501650,2501650,2.230120e+13,250165000001,...,0,0,0,0,0,0,1,0,0,0
3,MA,2018-2019,1,405,Abington,Abington Middle School,2501650,2501650,2.230120e+13,250165000002,...,0,0,0,0,0,0,1,0,0,0
4,MA,2018-2019,1,20,Abington,Beaver Brook Elementary,2501650,2501650,2.230120e+13,250165000434,...,0,0,0,0,0,0,1,0,0,0

In [214]:
mcas_df = pd.read_excel("../data/mcas_results.xlsx")
mcas_df.head()

,District Name,District Code,Subject,M+E #,M+E %,E #,E %,M #,M %,PM #,PM %,NM #,NM %,No. of Students Included,Part. Rate %,Avg. Scaled Score,SGP,Included In SGP
0,Abby Kelley Foster Charter Public (District),4450000,ELA,240,34,13,2,227,33,348,50,110,16,698,100,490,49.0,569
1,Abby Kelley Foster Charter Public (District),4450000,MATH,169,24,4,1,165,24,389,56,142,20,700,100,486,50.0,572
2,Abby Kelley Foster Charter Public (District),4450000,SCI,65,28,4,2,61,26,126,55,40,17,231,100,488,NaN,NaN
3,Abington,10000,ELA,455,49,56,6,399,43,370,40,103,11,928,98,498,50.0,691
4,Abington,10000,MATH,384,41,36,4,348,37,435,47,112,12,931,98,496,48.0,693

In [215]:
racial_enrollment_df = pd.read_excel("../data/district_grade_race_enrollment_22.xlsx")
racial_enrollment_df

,ORG_CODE,DISTRICT_NAME,COUNTY,Grade,District_Total,Black,Asian,Hispanic,Multiracial,NativeAmerican,NativeHawaiianPacificIslander,White
0,0001,Abington,Plymouth,Gr.1,186.0,10,4,26,10,0,0,136
1,0001,Abington,Plymouth,Gr.2,171.0,7,2,29,3,1,0,129
2,0001,Abington,Plymouth,Gr.3,166.0,8,7,14,5,2,0,130
3,0001,Abington,Plymouth,Gr.4,148.0,6,3,19,2,1,0,117
4,0001,Abington,Plymouth,Gr.5,169.0,7,4,22,2,2,0,132
...,...,...,...,...,...,...,...,...,...,...,...,...
5983,3902,TEC Connections Academy Commonwealth Virtual S...,Norfolk,K,74.0,6,5,26,8,0,1,28
5984,3902,TEC Connections Academy Commonwealth Virtual S...,Norfolk,PK,0.0,***,***,***,***,***,***,***
5985,0000,State Totals,NaN,NaN,911529.0,84970,65813,210747,39159,2060,788,507992
5986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5987,*** Data are not reported for totals fewer tha...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [216]:
socio_eco_df = pd.read_excel("../data/selectedpopulations.xlsx")
socio_eco_df.head()

,District Name,District Code,First Language Not English #,First Language Not English %,English Language Learner #,English Language Learner %,Students With Disabilities #,Students With Disabilities %,Low Income #,Low Income %,Free Lunch #,Free Lunch %,Reduced Lunch #,Reduced Lunch %,High Needs #,High Needs #.1,Economically Disadvantaged #,Economically Disadvantaged %
0,Abby Kelley Foster Charter Public (District),4450000,967,68.0,256,18.0,166,11.7,837,58.9,,,,,"1,005",70.7,,
1,Abington,10000,362,16.9,236,11.0,387,17.8,736,34.4,,,,,"1,029",47.3,,
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,158,33.8,44,9.4,115,24.6,273,58.5,,,,,332,71.1,,
3,Acton-Boxborough,6000000,"1,141",22.2,317,6.2,803,15.5,546,10.6,,,,,"1,538",29.6,,
4,Acushnet,30000,17,1.8,6,0.6,154,15.8,320,33.2,,,,,415,42.7,,

In [217]:
staff_race_gender = pd.read_excel("../data/staffracegender.xlsx")
staff_race_gender.head()

,District/School Name,District/School Code,African American (#),Asian (#),Hispanic (#),White (#),Native American (#),"Native Hawaiian, Pacific Islander (#)","Multi-Race,Non-Hispanic (#)",Females (#),Males (#),FTE Count
0,Abby Kelley Foster Charter Public (District),4450000,8.8,1.0,8.0,173.4,0.0,1.0,2.0,153.3,41.0,194.2
1,Abington,10000,2.0,2.0,9.4,266.2,0.0,0.0,1.0,235.0,44.6,280.6
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,26.5,8.2,9.0,50.2,0.0,0.0,1.0,62.9,32.0,94.9
3,Acton-Boxborough,6000000,5.0,41.4,14.6,718.1,1.0,0.0,5.0,678.5,106.5,785.1
4,Acushnet,30000,1.0,0.0,0.0,120.6,0.0,0.0,0.0,102.8,18.8,121.6

## 0.2 Cleaning Data

### 0.2.1 Cleaning the NERDS Data
Lets clean the Nerds dataframe by only keeping the columns that we want, as it currently has many columns, most of which we don't need. We will keep `distname`, and `schoolname` for future merges. We also want to keep `flag_nerds` and `flag_f33` which flags schools with suspicious data. The `schoolstloc`, `schoolfed`, and `schooltot` are important columns for the total amount of funding received. We will keep `ncesenroll` and `gradespan` to compare with our other enrollment data. The `pp_stloc`, `pp_fed`, and `pp_total` give us the state, federal, and total per pupil funding respectively. For this investigation, since we are not comparing across states, we are opting to use to `_raw` instead of the `_norm_nerds` columns which contain values which have been adjusted for state differences.

The information about these columns was found in the [NERDS Documentation](https://georgetown.app.box.com/s/nyt1ckphiblaj4tyuoigtri8bn38kk85/file/1080532555684).

In [218]:
nerds_df_clean = nerds_df[['distname', 'schoolname', 'flag_nerds', 'flag_f33', 'ncesenroll', 'gradespan', 'pp_stloc_raw_MA', 'pp_fed_raw_MA', 'pp_total_raw_MA', 'schoolstloc_raw_MA', 'schoolfed_raw_MA', 'schooltot_raw_MA']]

nerds_df_clean.head()

,distname,schoolname,flag_nerds,flag_f33,ncesenroll,gradespan,pp_stloc_raw_MA,pp_fed_raw_MA,pp_total_raw_MA,schoolstloc_raw_MA,schoolfed_raw_MA,schooltot_raw_MA
0,Abby Kelley Foster Charter Public School,Abby Kelley Foster Charter Public School,0,0,1428.0,KG-12,14354.612514,1006.982538,15361.595053,20461351.77,1435373.05,21896724.82
1,Abington,Abington Early Education Program,0,0,90.0,PK-PK,14028.783797,961.863052,14990.646848,1444029.478804,99007.770134,1543037.248938
2,Abington,Abington High,0,0,545.0,09-12,14880.475672,20.812074,14901.287746,8052652.079188,11262.569511,8063914.648699
3,Abington,Abington Middle School,0,0,672.0,05-08,13057.825084,83.417661,13141.242745,8839857.407697,56471.903107,8896329.310804
4,Abington,Beaver Brook Elementary,0,0,455.0,KG-02,13134.592802,1105.059138,14239.65194,5944497.792223,500131.348068,6444629.140291

Let's make lower case columns for `distname` and `schoolname` for easier merging later.

In [219]:
nerds_df_clean["distname_lower"] = nerds_df_clean["distname"].str.lower()
nerds_df_clean["schoolname_lower"] = nerds_df_clean["schoolname"].str.lower()

nerds_df_clean.head()

/var/folders/1y/tx5xv7mx325cz5z1q7xc35sm0000gn/T/ipykernel_18979/2373075718.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nerds_df_clean["distname_lower"] = nerds_df_clean["distname"].str.lower()
/var/folders/1y/tx5xv7mx325cz5z1q7xc35sm0000gn/T/ipykernel_18979/2373075718.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nerds_df_clean["schoolname_lower"] = nerds_df_clean["schoolname"].str.lower()

,distname,schoolname,flag_nerds,flag_f33,ncesenroll,gradespan,pp_stloc_raw_MA,pp_fed_raw_MA,pp_total_raw_MA,schoolstloc_raw_MA,schoolfed_raw_MA,schooltot_raw_MA,distname_lower,schoolname_lower
0,Abby Kelley Foster Charter Public School,Abby Kelley Foster Charter Public School,0,0,1428.0,KG-12,14354.612514,1006.982538,15361.595053,20461351.77,1435373.05,21896724.82,abby kelley foster charter public school,abby kelley foster charter public school
1,Abington,Abington Early Education Program,0,0,90.0,PK-PK,14028.783797,961.863052,14990.646848,1444029.478804,99007.770134,1543037.248938,abington,abington early education program
2,Abington,Abington High,0,0,545.0,09-12,14880.475672,20.812074,14901.287746,8052652.079188,11262.569511,8063914.648699,abington,abington high
3,Abington,Abington Middle School,0,0,672.0,05-08,13057.825084,83.417661,13141.242745,8839857.407697,56471.903107,8896329.310804,abington,abington middle school
4,Abington,Beaver Brook Elementary,0,0,455.0,KG-02,13134.592802,1105.059138,14239.65194,5944497.792223,500131.348068,6444629.140291,abington,beaver brook elementary

## 0.2.2 Cleaning the MCAS Data
MCAS is the standardized test which Massachusetts uses for all grade levels through high school. Let's convert the dataframe to a wide format so that each District is a single row, and each column is a different subject. We will also keep the `District Name` and `District Code` columns for future merges.

In [220]:
mcas_df_clean = pd.pivot(mcas_df, index=['District Name', 'District Code'], columns='Subject', values='Avg. Scaled Score').reset_index()
mcas_df_clean.columns = ["distname", "distcode", "ela_avg_scaled_score", "math_avg_scaled_score", "sci_avg_scaled_score"]

mcas_df_clean.head()

,distname,distcode,ela_avg_scaled_score,math_avg_scaled_score,sci_avg_scaled_score
0,Abby Kelley Foster Charter Public (District),4450000,490.0,486.0,488.0
1,Abington,10000,498.0,496.0,493.0
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,480.0,476.0,479.0
3,Acton-Boxborough,6000000,507.0,511.0,510.0
4,Acushnet,30000,499.0,502.0,497.0

Next let's also make a `distname_lower` columns for the mcas dataframe for easier merging later. We should also remove the "(District)" from the end of the `distname` column.

In [221]:
distname_lower = mcas_df_clean["distname"].str.lower()

regex = r"\s*\(\s*district\s*\)\s*"
distname_lower_nodist = distname_lower.str.replace(regex, "")

mcas_df_clean["distname_lower"] = distname_lower_nodist
mcas_df_clean.head()

/var/folders/1y/tx5xv7mx325cz5z1q7xc35sm0000gn/T/ipykernel_18979/2513094213.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  distname_lower_nodist = distname_lower.str.replace(regex, "")

,distname,distcode,ela_avg_scaled_score,math_avg_scaled_score,sci_avg_scaled_score,distname_lower
0,Abby Kelley Foster Charter Public (District),4450000,490.0,486.0,488.0,abby kelley foster charter public
1,Abington,10000,498.0,496.0,493.0,abington
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,480.0,476.0,479.0,academy of the pacific rim charter public
3,Acton-Boxborough,6000000,507.0,511.0,510.0,acton-boxborough
4,Acushnet,30000,499.0,502.0,497.0,acushnet